$arrow-outside-color: #c8c8c8;
$arrow-inside-color: #f8f8f8;
$arrow-outside-showing-border: 8px solid transparent;
$arrow-inside-showing-border: 7px solid transparent;

img {
  width:100%; /* you can use % */
  height: auto;
}

.back {
  background-color: #ffffff;
}

.box {
  margin: auto;
  background: white;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  height: 100%;
  padding: 20px;
  text-align: center;
  font-weight: 900;
  position:relative;
  ;
}


.arrow:after {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid #fff;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  left: -17px;
}


ion-content{
  --ion-background-color: var(--ion-color-back);
  --overflow: hidden;

}

