$arrow-outside-color: #c8c8c8;
$arrow-inside-color: #f8f8f8;
$arrow-outside-showing-border: 8px solid transparent;
$arrow-inside-showing-border: 7px solid transparent;

img {
  width:100%; /* you can use % */
  height: auto;
}

// .back {
//   background-color: #ffffff;
// }

.activityLog {
  // background-color: hsl(0, 0%, 100%);
  background: white;
  text-align: center;
  margin: 20px;
  padding: 0px 0 20px 0;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
}

#activityTitle {
  text-align: center;
  font-weight: 700;
  position:relative;
  font-size: 22px;
  margin-bottom: 10px;
  padding-top: 10px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;

}

.mainText {
  --background: white;
}

#logTitle {
  font-weight: 900;
  border-style: none;
}

.datething {
  margin-left: 10px;
  font-size: 14px;
  padding-right: 2px;
}

.data {
  flex-grow: 8;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  height: 100%;
  padding: 5px;
  text-align: right;
  margin-top: 0px;
  margin-bottom: 10px;
  margin-right: 10px;
  background-color: white;
  border-top: 5px solid white;
  border-right: 5px solid white;
  border-bottom: 5px solid white;
  border-left: 40px solid white;
}


.box {
  margin: auto;
  background: white;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  height: 100%;
  padding: 20px;
  text-align: center;
  font-weight: 900;
  position:relative;
  ;
}



.arrow:after {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid #fff;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  left: -17px;
}

ion-content{
  --ion-background-color: var(--ion-color-back);
  height: 100vh;
}
