<ion-header>
  <ion-toolbar>
    <ion-title>
      Cheqin
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content no-scroll>
  <ion-grid no-padding>
    <ion-row>
      <div class="back" no-padding text-center>
        <img src="../../assets/mascot/brellacircle.png" alt="Smiling Umbrella">
      </div>
    </ion-row>
    <div>
      <ion-row class="button-col">
        <ion-col>
          <div text-center>
            <ion-button size="large">
              <ion-icon name="calendar"></ion-icon>
            </ion-button>
          </div>
        </ion-col>
        <ion-col>
          <div text-center>
            <ion-button size="large">
              <ion-icon name="stats"></ion-icon>
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="button-col">
        <ion-col>
          <div text-center>
            <ion-button size="large">
              <ion-icon name="contact"></ion-icon>
            </ion-button>
          </div>
        </ion-col>
        <ion-col>
          <div text-center>
            <ion-button size="large">
              <ion-icon name="settings"></ion-icon>
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>
</ion-content>


