// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

.ion-color-back {
  --ion-color-base: var(--ion-color-back) !important;
  --ion-color-base-rgb: var(--ion-color-back-rgb) !important;
  --ion-color-contrast: var(--ion-color-back-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-back-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-back-shade) !important;
  --ion-color-tint: var(--ion-color-back-tint) !important;
}

.ion-color-red {
  --ion-color-base: var(--ion-color-red) !important;
  --ion-color-base-rgb: var(--ion-color-red-rgb) !important;
  --ion-color-contrast: var(--ion-color-red-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-red-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-red-shade) !important;
  --ion-color-tint: var(--ion-color-red-tint) !important;
}

.ion-color-orange {
  --ion-color-base: var(--ion-color-orange) !important;
  --ion-color-base-rgb: var(--ion-color-orange-rgb) !important;
  --ion-color-contrast: var(--ion-color-orange-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-orange-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-orange-shade) !important;
  --ion-color-tint: var(--ion-color-orange-tint) !important;
}

.ion-color-yellow {
   --ion-color-base: var(--ion-color-yellow) !important;
   --ion-color-base-rgb: var(--ion-color-yellow-rgb) !important;
   --ion-color-contrast: var(--ion-color-yellow-contrast) !important;
   --ion-color-contrast-rgb: var(--ion-color-yellow-contrast-rgb) !important;
   --ion-color-shade: var(--ion-color-yellow-shade) !important;
   --ion-color-tint: var(--ion-color-yellow-tint) !important;
 }

.ion-color-green {
  --ion-color-base: var(--ion-color-green) !important;
  --ion-color-base-rgb: var(--ion-color-green-rgb) !important;
  --ion-color-contrast: var(--ion-color-green-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-green-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-green-shade) !important;
  --ion-color-tint: var(--ion-color-green-tint) !important;
}

.ion-color-blue {
  --ion-color-base: var(--ion-color-blue) !important;
  --ion-color-base-rgb: var(--ion-color-blue-rgb) !important;
  --ion-color-contrast: var(--ion-color-blue-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-blue-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-blue-shade) !important;
  --ion-color-tint: var(--ion-color-blue-tint) !important;
}

.ion-color-purple {
  --ion-color-base: var(--ion-color-purple) !important;
  --ion-color-base-rgb: var(--ion-color-purple-rgb) !important;
  --ion-color-contrast: var(--ion-color-purple-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-purple-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-purple-shade) !important;
  --ion-color-tint: var(--ion-color-purple-tint) !important;
}

.ion-color-black {
  --ion-color-base: var(--ion-color-black) !important;
  --ion-color-base-rgb: var(--ion-color-black-rgb) !important;
  --ion-color-contrast: var(--ion-color-black-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-black-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-black-shade) !important;
  --ion-color-tint: var(--ion-color-black-tint) !important;
}

.ion-color-white {
  --ion-color-base: var(--ion-color-white) !important;
  --ion-color-base-rgb: var(--ion-color-white-rgb) !important;
  --ion-color-contrast: var(--ion-color-white-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-white-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-white-shade) !important;
  --ion-color-tint: var(--ion-color-white-tint) !important;
}

.ion-color-grey {
  --ion-color-base: var(--ion-color-grey) !important;
  --ion-color-base-rgb: var(--ion-color-grey-rgb) !important;
  --ion-color-contrast: var(--ion-color-grey-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-grey-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-grey-shade) !important;
  --ion-color-tint: var(--ion-color-grey-tint) !important;
}

.ion-color-pink {
  --ion-color-base: var(--ion-color-pink) !important;
  --ion-color-base-rgb: var(--ion-color-pink-rgb) !important;
  --ion-color-contrast: var(--ion-color-pink-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-pink-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-pink-shade) !important;
  --ion-color-tint: var(--ion-color-pink-tint) !important;
}