<ion-header>
    <ion-toolbar>
        <ion-title>
            Check-In!
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>

        <!--Date Picker-->
        <ion-item>
            <ion-label>Date</ion-label>
            <ion-datetime display-format="MMM D, YYYY" picker-format="MMMM D YYYY" [(ngModel)]="myDate"></ion-datetime>
        </ion-item>

        <!--Time Picker-->
        <ion-item>
            <ion-label>Time</ion-label>
            <ion-datetime display-format="h:mm a" picker-format="h mm a" [(ngModel)]="myTime"></ion-datetime>
        </ion-item>

        <!--Entry-->
        <ion-item>
            <ion-label position="stacked">Entry</ion-label>
            <ion-textarea rows=5 placeholder="I'm giving presentation and I feel like its going very well! " [(ngModel)]="entry"></ion-textarea>
        </ion-item>
<ion-item>
    <ion-label position="stacked">Tags</ion-label>
    <!--<ion-tags-input style=[(ngModel)]="tags" (onChange)=onChange($event) [color]="'random'" [once]="'true'" [separatorStr]="','">-->
        <!---->
    <!--</ion-tags-input>-->
        <ion-chip>
        <ion-label>Happy</ion-label>
        <ion-icon name="close-circle"></ion-icon>
    </ion-chip>

    <ion-chip>
        <ion-label>Presentation</ion-label>
        <ion-icon name="close-circle"></ion-icon>
    </ion-chip>
</ion-item>

        <ion-grid>
            <ion-row>
                <ion-col><ion-button size="large" expand= "block" color="pink" (click)= "setMood('pink')" class="color-select"></ion-button></ion-col>
                <ion-col><ion-button size="large" expand= "block" color="red" (click)= "setMood('red')"></ion-button></ion-col>
                <ion-col><ion-button size="large" expand= "block" color="orange" (click)= "setMood('orange')"></ion-button></ion-col>
                <ion-col><ion-button size="large" expand= "block" color="yellow" (click)= "setMood('yellow')"></ion-button></ion-col>
                <ion-col><ion-button size="large" expand= "block" color="green" (click)= "setMood('green')"></ion-button></ion-col>
            </ion-row>

            <ion-row>
                <ion-col><ion-button size="large" expand= "block" color="blue" (click)= "setMood('blue')"></ion-button></ion-col>
                <ion-col><ion-button size="large" expand= "block" color="purple" (click)= "setMood('purple')"></ion-button></ion-col>
                <ion-col><ion-button size="large" expand= "block" color="black" (click)= "setMood('black')"></ion-button></ion-col>
                <ion-col><ion-button size="large" expand= "block" color="grey" (click)= "setMood('grey')"></ion-button></ion-col>
                <ion-col><ion-button size="large" expand= "block" color="white" (click)= "setMood('white')"></ion-button></ion-col>
            </ion-row>

            <ion-row no-margin>
                <ion-card>{{colordesc[color]}}</ion-card>
            </ion-row>

            <ion-row no-margin>
                <!--Cancel Button-->
                <ion-col>
                    <ion-button expand="block" (click)="dismiss()">
                        Cancel
                    </ion-button>
                </ion-col>
                <!--Save Button-->
                <ion-col>
                    <ion-button expand="block" (click)="submitCheckin(myDate, myTime, entry, color, tags)" [disabled]= "brown">
                        Save
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-list>
</ion-content>