<ion-header>
    <ion-toolbar>
        <ion-title>
            Check-In!
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>

        <!--Date Picker-->
        <ion-item>
            <ion-label>Date</ion-label>
            <ion-datetime display-format="MMM D, YYYY" picker-format="MMMM D YYYY" [(ngModel)]="myDate"></ion-datetime>
        </ion-item>

        <!--Time Picker-->
        <ion-item>
            <ion-label>Time</ion-label>
            <ion-datetime display-format="h:mm a" picker-format="h mm a" [(ngModel)]="myTime"></ion-datetime>
        </ion-item>
        <ion-item>
            <ion-label position="stacked">Entry</ion-label>
            <ion-textarea rows=5 placeholder="I'm giving presentation and I feel like its going very well! " [(ngModel)]="entry"></ion-textarea>
        </ion-item>
<ion-item>
    <ion-label position="stacked" >Tags</ion-label>
    <!--<ion-tags-input style=[(ngModel)]="tags" (onChange)=onChange($event) [color]="'random'" [once]="'true'" [separatorStr]="','">-->
        <!---->
    <!--</ion-tags-input>-->
        <ion-chip>
        <ion-label>Happy</ion-label>
        <ion-icon name="close-circle"></ion-icon>
    </ion-chip>

    <ion-chip>
        <ion-label>Presentation</ion-label>
        <ion-icon name="close-circle"></ion-icon>
    </ion-chip>
</ion-item>

    <ion-item>
        <ion-grid no-margin>
            <ion-row>
                    <ion-col><ion-button size="large" expand= "block" color="pink" (click)= "setMood()" ></ion-button></ion-col>
                    <ion-col><ion-button size="large" expand= "block" value="red" color="red"></ion-button></ion-col>
                    <ion-col><ion-button size="large" expand= "block" color="orange"></ion-button></ion-col>
                    <ion-col><ion-button size="large" expand= "block" color="yellow"></ion-button></ion-col>
                    <ion-col><ion-button size="large" expand= "block" color="green"></ion-button></ion-col>
            </ion-row>

            <ion-row>
                <ion-col><ion-button size="large" expand= "block" color="blue"></ion-button></ion-col>
                <ion-col><ion-button size="large" expand= "block" color="purple"></ion-button></ion-col>
                <ion-col><ion-button size="large" expand= "block" color="black"></ion-button></ion-col>
                <ion-col><ion-button size="large" expand= "block" color="grey"></ion-button></ion-col>
                <ion-col><ion-button size="large" expand= "block" color="white"></ion-button></ion-col>
            </ion-row>

            <ion-col no-padding>
                <ion-card> Fart {{colordesc[color]}}</ion-card>
            </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-button expand="block" (click)="dismiss()">
                        Cancel
                    </ion-button>
                </ion-col>
                <ion-col>
                    <ion-button expand="block" (click)="Fart()" [disabled]= "brown">
                        Save
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-item>
    </ion-list>
</ion-content>