<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-grid>
  	<ion-row justify-content-center>
  		<ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
  			<div text-center>
  				<h4>Login Form</h4>
  			</div>
  			<div padding>
  				<ion-item>
  					<ion-input type="text" placeholder="Username" [(ngModel)]="userEmail"></ion-input>
  				</ion-item>

  				<ion-item>
  					<ion-input type="password" placeholder="Password" [(ngModel)]="passWord"></ion-input>
  				</ion-item>
  			</div>
  			<div padding>
  				<ion-button size="large" (click)="login()" expand="block">Login</ion-button>
  			</div>
        <div padding>
          <ion-button size="large" (click)="signup()" expand="block" fill="outline">Sign Up</ion-button>
        </div>
  		</ion-col>
  	</ion-row>
  </ion-grid>
</ion-content>
