.sidebar {
  background-color: var(--ion-color-back) !important;
}

.entries {
  border-radius: 15px;
  border-top: 5px solid black;
  border-left: 10x solid black;
  border-bottom: 5px solid black;
  border-right: 5px solid black;
  margin-bottom: 15px;

}

.bg {
  background-color: #AFDDEB;
}

.full-height {
  height: 100vh;
}

.data-top {
  background-color: white;
  border-radius: 15px 15px 0px 0px;
}

.data-mid {
  background-color: white;
}

.data-bot {
  background-color: white;
  border-radius: 0px 0px 15px 15px;

}

.descrip {
  padding: 5px 5px 4px 10px;
  font-size: 10pt;
}

.chip {
  font-size: 8pt;
  background-color: #212D71;
  color: white;
  border-radius: 15px;
  display: inline-flex;
  flex-wrap: wrap;
  width: fit-content;
  padding: 2px;
  margin: 2px 0px 5px 5px;
}

.chip .first {
  margin-left: 10px;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid rgba(33, 45, 113, 0.5);
  padding: 0;
}

ion-icon {
  font-size: 20px; //Preferred size here
}