<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="back()"></ion-back-button>
    </ion-buttons>
    <ion-title>daily</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content no-padding>
  <canvas id="myChart" max-height="20%"></canvas>
  <ion-card *ngFor="let singleData of data" (click)="onSelect(singleData.timestamp)">
    <ion-card-header>
      <ion-card-subtitle>{{singleData.method}}</ion-card-subtitle>
      <ion-card-title>{{colorDescription[singleData.color]}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{singleData.content}}
    </ion-card-content>
  </ion-card>
</ion-content>
