@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/Comfortaa-Regular.tff');
}

@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/Comfortaa-Bold.tff');
}

@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 300;
  src: url('../assets/fonts/Comfortaa-Light.tff');
}